.documentGrid{
    display: grid;
    grid-template-columns: 1.5fr 0.01fr 1fr .01fr;
    gap: 20px;
}

.document-details{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px;
}