<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts</h3>

  


    <ng-container *ngFor="let contact of contacts">
      <app-contact-item 
        [contact]="contact" 
        [routerLink]="['/contacts', contact.id]">
      </app-contact-item>
    </ng-container>

    <button class="btn btn-success" [routerLink]="['/contacts', 'new']">Create New Contact</button>
  </div>

  <div class="searchBox">

    <input type="text" [(ngModel)]="searchTerm" placeholder="Search Contacts   ⌕">

  <ul>
    <li *ngFor="let contact of contacts | contactsFilter: searchTerm">
      {{ contact.name }}
    </li>
  </ul>

  </div>
  

  <div class="panel-body">
    <div *ngFor="let contact of contacts" class="media" [routerLink]="['/contacts', contact.id]">
      <div class="media-left">
        <img [src]="contact.imageUrl" class="media-object" alt="contact image" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ contact.name }}</h4>
      </div>
    </div>
  </div>
</div>
