<!-- NORMAL HEADER -->
<!-- <header>
    <img src="/images/logo.png" alt="logo" width="200px" height="200px">
    <h1>Idea Surge</h1>
    <div></div>
    
</header>
<nav>

    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/documents">Documents</a></li>
    </ul>

</nav> -->
    
<!-- REACT HEADER -->
<div id="react-header">
    <%- reactHeader %>
</div>