<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <%- include('partials/header') %>

    <main>
        <h1>Create a New Document</h1>
        <br>

        <form action="/" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="10" cols="30" required></textarea>
                <button type="button" id="speak-btn">🔊 Speak</button>
            </div>
            <button type="submit" class="SubmitFormButton">Save</button>
        </form>
    </main>
    
    <script>
        document.getElementById('speak-btn').addEventListener('click', function () {
    const content = document.getElementById('content').value; 
    const speech = new SpeechSynthesisUtterance(content);     
    speech.lang = 'en-US';                                   
    window.speechSynthesis.speak(speech);                    

});

    </script>
</body>
</html>
