<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control required" [(ngModel)]="contact.name" name="name" required>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" class="form-control required" [(ngModel)]="contact.email" name="email" required>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" class="form-control required" [(ngModel)]="contact.phone" name="phone">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" class="form-control" [(ngModel)]="contact.imageUrl" name="imageUrl">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 btn-toolbar">
      <button class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
