<div class="panel panel-default" *ngIf="document">
  <div class="panel-heading">
    <h4 class="title">{{ document.name }}</h4>
    <div class="button-group">
      <a class="btn btn-primary" [href]="document.url" target="_blank">View</a>
      <a class="btn btn-info" [routerLink]="['/documents', document.id, 'edit']">Edit</a>
      <a class="btn btn-danger" (click)="deleteDocument()">Delete</a>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Description:</strong> {{ document.description }}</p>
    <p *ngIf="document.url">
      <strong>URL:</strong> <a [href]="document.url" target="_blank">{{ document.url }}</a>
    </p>
  </div>
</div>
